.home-button {
  margin-top: 10px;
  margin-left: 85%;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color:rgb(124 126 127);
}

.home-icon {
 display: block;
 justify-content: space-around;
  border-radius: 50%;
  color: #181717;
  opacity: .9;
  transition: .5s;
  height: 10vh;
  width: auto;
}
  
.home-icon:hover {
  color: #ffa502;
  box-shadow: 0px 0px 15px 15px #d35400;
}